<!DOCTYPE html>
<html lang="zh-ch">
    <head>
        <meta charset="UTF-8">
        <title>vue</title>
        <script type="text/javascript" src="js/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <input type="checkbox" v-model="flag">
            <br>
            <img src="img/1.gif" v-if="flag">
            <img src="img/2.jpg" v-else>
        </div>
        <script>
            const vm = new Vue({
                el: '#app',
                data: {
                    flag: false,
                }
            });
        </script>
    </body>
</html>