<!DOCTYPE html>
<html lang="zh-ch">
    <head>
        <meta charset="UTF-8">
        <title>vue</title>
        <script type="text/javascript" src="js/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <!--     <!--       数据绑定&ndash;&gt;
                        <input type="checkbox" v-model="flag">
                        <br>
                        <img src="img/1.gif" v-if="flag">
                        <img src="img/2.jpg" v-else>-->
            <!--            计算属性-->

            <!--            {{rev()}}-->
            {{rev}}
        </div>
        <script>
            const vm = new Vue({
                el: '#app',
                data: {
                    flag: false,
                    message: '些许风霜',
                },
                computed: {
                    rev() {
                        return this.message.split('').reverse().join('') + new Date();
                    }
                },
                methods: {
                    /*     rev() {
                             return this.message.split('').reverse().join('');
                         }*/
                }
            });
        </script>
    </body>
</html>